* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.bg-nav {

    background: rgba(29, 37, 47, 0.6);
    height: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}


.navbar-brand img {
    height: 100px;
    width: 200px;

}

.nav-link {
    color: #6cd53b;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
}

.carousel-item img {
    height: 590px;
}

.carousel-indicators [data-bs-target] {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #6cd53b;
}

.carousel-indicators [data-bs-slide-to] {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #6cd53b;
}

.write {
    padding: 230px 0;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.write h2 {
    font-size: 40px;
    color: #6cd53b;
}
.write p {
    color: #fff;
    font-family: 'Lobster', cursive;
}
.nav-item {
    padding-left: 30px;
}

/* about section start */

.about-item:hover{
    transition: 0.2s;
    background: #000;
    color: #fff;
}

.section-title h1 {
    padding-top: 30px;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Lobster Two', cursive; */
    font-family: 'Lobster', cursive;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
}

.section-title p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Lobster', cursive;
    color: #605f5f;
}

.about-item {
    border: 4px solid #6cd53b;
    padding: 20px;
}

.about-icon i {
    font-size: 150px;
    color: #6cd53b;
}

.about-meta {
    color: #6cd53b;
    padding-top: 15px;
    font-family: 'Oswald', sans-serif;
}

/* Story section start */
.card-title h1 {
    font-family: 'Lobster', cursive;
    font-weight: 800;
}

.story p {
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.welcome-text p {
    text-align: justify;
    font-family: 'Oswald', sans-serif;

}
.welcome-image img {
    width: 100%;
    height: 420px;
}

/* Offer section start */
.offer-product {
    justify-content: center;
    display: flex;
}

.bg {
    background-color: #39535c;
    border-radius: 5px;
}

.box {
    background-color: #39535c;
    border-radius: 5px;
    padding: 20px 15px;
    display: flex;
    align-items: center;

}

.box .img-box {
    height: 175px;
    width: 175px;
    min-width: 175px;
    position: relative;
    border-radius: 50%;
    border: 3px solid #6cd53b;
    overflow: hidden;
    margin-right: 20px;


}

.img-box img {
    height: 175px;
    width: 175px;
    min-width: 175px;
}

.offer_content {
    color: #fff;
}

/* menu section css start */

.menu_bg {
    background: #6cd53b;
}

.menu-item {
    background: #39535c;
    color: #fff;
}

.menu_img_box img {
    width: 100%;
    height: 250px;
}

.menu_name {
    font-family: 'Lobster', cursive;
    color: #fff;
    margin-top: 13px;
}

.menu_content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}

.menu_list_name {}

.text-end {
    text-align: end;
}

.footer_img img {
    width: 100%;
    height: 120px;

}

.contact {
    height: 80px;
    padding: 10px;

}

.contact a {
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;

}

.menu_opacity {
    height: 2px;
    background: #6cd53b;
    margin: 20px;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6cd53b;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}

/* Gallery section start */
.gallery-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-nav button {
    padding: 12px 24px;
    transition: .5s;
    font-weight: 700;
}

.gallery-nav button:hover {
    background: #6cd53b;
    border: 1px solid #6cd53b;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.gallery-item img {
    width: 100%;
    height: 300px;

}

.gallery-item-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.65);
    top: -100%;
    transition: .5s;


}

.gallery-item-title {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    bottom: -100%;
    transition: .5s;
    color: #6cd280;
}

.gallery-item:hover .gallery-item-overlay {
    top: 0;
}

.gallery-item:hover .gallery-item-title {
    bottom: 0;
}

/* Gallery section end */


/* counter css start */

.counter-padding {
    /* padding: 20px; */    
       
    
}
#counter-area {
    background: url(img/main_banner\ \(1\).jpg) no-repeat fixed center center /cover;
    position: relative;
    padding-top: 60px ;
    padding-bottom: 60px ;
}

#counter-area::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.612);
    bottom: 0;
    left: 0;
    z-index: -1;
}

.single-counter {
    border: 2px solid #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 20px;
}

.single-counter::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.766);
    bottom: 0;
    left: 0;
    z-index: -1;
}

.single-counter h2 {
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    display: inline;
   
}

.single-counter h6 {
    color: #fff;
}

/* counter css end */

/* contact css start */

.contact{
    margin-top: 100px;
}

.contact-item h3 {
    transition: .4s;
   
}

.contact-icon i {
    font-size: 35px;
    transition: .4s;
   
}
.contact-icon h3{
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
}

.contact-item:hover .contact-icon i {
    color: #6cd280;
}

.contact-item:hover h3 {
    color: #6cd280;
}

/* contact us css end */

.social{
    /* border-radius: 50%; */
}
